<nav class="navbar navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="/">
    Repo
  </a>
  {{#if user}}
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" style="color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown">
       <i class="far fa-user pr-1"></i>{{ user.firstName }}
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="/profile">Your Account</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/logout">
        <i class="fas fa-sign-out-alt pr-1"></i>Logout
      </a>
    </div>
  </div>
  {{else}}
  </button>
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" style="color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown">
       <i class="far fa-user pr-2"></i>Sign In
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="/signin">
        <i class="fas fa-sign-in-alt pr-2"></i>Sign In
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/signup">
        <i class="fas fa-user-plus pr-2"></i>Sign Up
      </a>
    </div>
  </div>
  {{/if}}
</nav>
{{> error }}
